
body {
      background-color: #EAf6f6;
    }
    
h1, h3 {
    color: #66BFBF;
}
img {
     border-radius: 50%;
    }

hr {
    border-style:dotted none none;
    border-width: 10px;
    border-color: gray;
    width: 6%;
}

